<IfModule mod_rewrite.c>
		Options +FollowSymlinks
		RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    # Кабинет самозанятого
    RewriteCond %{REQUEST_URI} ^/(registration)
    RewriteRule ^registration(.*)$ http://app.trade-services.ru/frontend/web/site/signup [L]
    RewriteCond %{REQUEST_URI} ^/(info-masters)
    RewriteRule ^info-masters(.*)$ http://app.trade-services.ru/frontend/web/help/index [L]
    RewriteCond %{REQUEST_URI} ^/(guru-admin)
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
    RewriteRule ^guru-admin/js/(.*)$ backend/web/js/$1 [L]
    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|js|css|js)/
    RewriteCond %{REQUEST_URI} ^/(guru-admin)
    RewriteRule ^.*$ backend/web/index.php [L]
    RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
    RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
    RewriteRule ^(.*)$ frontend/web/$1 [L]
    RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js)/
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ frontend/web/index.php
</IfModule>